html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #222;
}

h1 {
  color: #fff;
}

.container {
  background-color: rgb(228, 65, 93);
  max-width: 600px;
  padding: 10px 20px 20px;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

.container h2 {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 20px 0;
  color: white;
}

button {
  background: lightpink;
  color: rgb(228, 65, 93);
  border: 2px solid rgb(228, 65, 93);
  border-radius: 5px;
  font-size: 20px;
}

section div,
section p {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 0px;
}

section p {
  padding-bottom: 20px;
}

section > div.closed {
  margin-bottom: 20px;
}
